/***** MOBILE FIRST *****/
* {
	box-sizing: border-box;
}

body, html {
	background-color: #212121;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Rosario', sans-serif;
}

/***** PERSONAL INFO STYLES *****/

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 8.33%;
	padding-right: 8.33%;
}

#name {
	margin-top: 36px;
	margin-bottom: 20px;
	color: #E3F2FD;
	font-weight: 700;
	font-size: 36px;
}

#bio, #app-info {
	text-align: center;
	color: #BBDEFB;
	font-size: 18px;
}

#contact {
	color: #BDBDBD;
}

#links {
	color: #BDBDBD;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #1565C0;
}

a:visited {
	color: #1565C0;
}

a:hover {
	color: #0D47A1;
}

#about {
	margin-top: 10px;
	margin-bottom: 20px;
}

#about a, #art a {
	font-size: 20px;
	color: #1565C0;
}

#about a:hover {
	color: #0D47A1;
}

#art {
	margin-bottom: 36px;
}

/****** FA ICONS *****/

#links i {
	color: #1565C0;
	margin-right: 10px;
}

#links i:hover {
	color: #0D47A1;
}

/****** CONTENT STYLES ******/

.project-container, .content {
	padding-left: 8.33%;
	padding-right: 8.33%;
}

.project {
	margin-bottom: 50px;
}

.project:hover {
	opacity: .75;
}

.project img {
	max-width: 100%;
	height: auto;
}

hr {
	width: 75%;
	opacity: .5;
}

.profile-pic img {
	width: 70%;
	height: auto;
	margin: 20px 0;
	border: 1px solid #455A64;
}

#launchvoy {
	background-color: white;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/***** FOR FULL SCREEN *****/
@media only screen and (min-width: 768px) {
	.full-container {
		padding: 20px 50px;
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 33.33%;
		padding: 0;
		position: fixed;
	}

	#bio, #app-info {
		text-align: left;
	}

	.project-container, .content {
		width: 66.67%;
		margin-left: calc(33.33% + 50px);
		margin-top: 36px;
		padding-left: 0;
		padding-right: 50px;
	}

	hr {
		text-align: left;
		margin-left: 0;
	}

}

/***** KEYFRAMES *****/

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

/***** CSS Transitions *****/

.m-scene {
	.scene_element {
		animation-duration: 0.5s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
	}

	.scene_element--fadein {
		animation-name: fadeIn;
	}

	.scene_element--fadeinup {
		animation-name: fadeInUp;
	}

	.scene_element--fadeinright {
		animation-name: fadeInRight;
	}
}

