* {
	box-sizing: border-box;
}

body, html {
	/* background-color: #212121; */
	height: 100%;
	margin: 0;
	padding: 0;
    font-family: 'Press Start 2P', cursive;
	line-height: 40px;
	/* display: flex;
	justify-content: center; */
}

.back-to-start {
    background-color: aquamarine;
    padding: 5px;
    cursor: pointer;
    width: fit-content;
}

.back-to-start:hover {
    background-color: black;
    color: aquamarine;
}

.description-projects {
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    line-height: 25px;
}

.break {
    height: 50px;
}

.infographic {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

img {
    width: 100%;
    margin: 30px 10px 30px 10px;
}

#polls {
    width: 50%;
}

#events {
    width: 80%;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .project-nextdoor {
    padding-top: 60px;
} */

h2 {
    background-color: aquamarine;
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0px 0px 50px 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aquamarine;
}

/***** BERKELEY PAGE ******/

h2 a {
    text-decoration: none;
    color: black;
}

#berkeleytime-title:hover {
    color: aquamarine;
    background-color: black;
}

#innod-title:hover {
    color: aquamarine;
    background-color: black;
}

#mdb-title:hover {
    color: aquamarine;
    background-color: black;
}

#innod-logo {
    width: 400px;
}

#wingit {
    width: 400px;
}

/****** ABOUT PAGE ******/

#typedtext {
    margin-top: 40px;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.avatar img {
    margin-left: 85%;
    width: 12%;

}

.hobby:hover {
    background-color: black;
    color: aquamarine;
    cursor: pointer;
    padding: 5px;
}

#hacker:hover {
    background-color: black;
    color: aquamarine;
    padding: 5px;
}

/** SHOES MODAL */

.modal {
    position: absolute;
	background-color: white;
	width: 100%;
    height: 100%;
    visibility: hidden;
	/* z-index: 5; */
}

.modal-close {
    padding: 10px 0 0 20px;
    cursor: pointer;
}

/* Create four equal columns that sits next to each other */
.column-shoes {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column-shoes img {
    margin-top: 10px;
    padding-right: 20px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column-shoes {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column-shoes {
        flex: 100%;
        max-width: 100%;
    }
}

/****** FOR ART *******/
/* 
.art {
    width: 300px;
    float: left;
    margin: 10px;
}

.art img {
    height: auto;
    width: 100%;
} */

#art-name {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 10px;
    padding-right: 20px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/****** FOR PODCAST *****/
#pod-title {
    margin-top: 50px;
    background-color: white;
}

.episode {
    margin-top: 50px;
    width: 75%;
}

/***** FOR FULL SCREEN *****/
@media only screen and (min-width: 768px) {
	.full-container {
		padding: 20px 50px;
	}

	.header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 33.33%;
		padding: 0;
        position: fixed;
    }
    
    .description {
        margin-top: 36px;
    }

	/* #bio, #app-info {
		text-align: left;
	} */

	.project-container, .content {
		width: 66.67%;
		margin-left: calc(33.33% + 50px);
		/* margin-top: 20px; */
		padding-left: 20px;
		padding-right: 50px;
	}

	hr {
		text-align: left;
		margin-left: 0;
    }
    


}