h1 {
	background-color: rgb(0, 0, 0);
}

#rgb {
	font-size: 30px;
}

.color-swatch {
	background-color: rgb(0, 0, 0);
	width: 100px;
	height: 100px;
	margin-right: 20px;
	border-radius: 20px;
}

.palette {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

input[type=number] {
	border: none;
	background: none;
	font-size: 20px;
	color: white;
	padding: 0;
}

input[type=number]:focus, input[type=range]:focus {
	outline: none;
}

input[type=range] {
	width: 200px;
}



@media only screen and (min-width: 768px) {
	#rgb {
		font-size: 60px;
	}

	input[type=number] {
		font-size: 50px;
	}
}
